body {
background: #fafafa;
color: #333333;
margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
color: #444444;
}

ul {
margin: 0;
}

.bg-steel {
background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
    color: white;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
background: #ffffff;
padding: 10px 20px;
border: 1px solid #dddddd;
border-radius: 3px;
margin-bottom: 20px;
}

.article-title {
color: #444444;
}

a.article-title:hover {
color: #428bca;
text-decoration: none;
}

.article-content {
white-space: pre-line;
}

.article-img {
height: 65px;
width: 65px;
margin-right: 16px;
}

.article-metadata {
padding-bottom: 1px;
margin-bottom: 4px;
border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
color: #333;
text-decoration: none;
}

.article-svg {
width: 25px;
height: 25px;
vertical-align: middle;
}

.account-img {
height: 125px;
width: 125px;
margin-right: 20px;
margin-bottom: 16px;
}

.account-heading {
font-size: 2.5rem;
}

.navbar {
    height: 50px;
    background-color: whitesmoke, 100%;
    opacity: 1;
    z-index: 1;
}

.logo {
    height: 40px;
    margin: 0;
    padding: 0;
    display: block;
}

.card {
    border-radius: 10%;
}

.card-image-top {
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}
.post-author-img {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    display: block;
}

.post-content {
    margin:5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}